<div class="section_title-block">
  <h2 class="main__title">Список компаний</h2>
  <span class="section__link-add">
    <%= link_to('Новое взаимодействие', new_interaction_path) if user_signed_in? %>
  </span>
  <p>
    Всего компаний : <%= @companies.size %> из них :
    <span>корпоративных членов : <%= @corporate_members %>, </span>
    <span>ассоциативных членов : <%= @associates_members %>, </span>
    <span>почетных членов : <%= @honarable_members %></span>
  </p>
</div>
<div class="page__inner">
  <div class="main__section">
    <%= render 'sidebar' %>
    <div class="company-list__section">
      <div class="company__table-header">
        <div class="company__item-header">
          <span class="company__item-name">Название</span>
          <span class="company__item-category">Категория</span>
          <span class="company__item-interaction_result">Результат взаимодейст.</span>
        </div>
        <div class="company__item-action-header">Паспорт</div>
      </div>
      <div class="company__table">
        <%= render partial: 'companies' %>
    </div>
    </div>
  </div>
</div>
