<div class="table__wrapper">
  <table class="interaction__table">
    <tr class="table__row-header">
      <th>Дата взаимодействия</th>
      <th>Название услуги</th>
      <th>ФИО представителя</th>
      <th>Название компании</th>
      <th>ФИО сотрудника</th>
    </tr>
    <% for interaction in @interactions %>
    <tr class="table__item-row" data-link="<%#= interaction_path(interaction.id) %>" data-turbolinks="false">
      <td class="table__item"><%= interaction.start_date.strftime("%d.%m.%Y") %></td>
      <td class="table__item"><%= interaction.service.name %></td>
      <td class="table__item"><%= interaction.representative.fullname %></td>
      <td class="table__item"><%= interaction.company.name %></td>
      <td class="table__item"><%= interaction.user.fullname %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="digg_pagination pagination__block">
  <%= will_paginate @interactions %>
</div>
