<div class="sidebar__section">
  <div class="sidebar__filter">
    <h3 class="filter__title">Филтровать</h3>
    <%= form_tag interaction_filters_path, id: "interaction_filter_form", class: "filter_form", method: :post, remote: true do %>
      <% unless params[:company_id].present? %>
        <p>
          <label for="company_filter">По компании : </label>
          <%= collection_select(:filter, :company, Company.all, :id, :name, {include_blank: 'Все'}, promp: true, class: 'company_filter_select filter_select') %>
        </p>
      <% else %>
        <input type="hidden" name='filter[company]' value="<%= params[:company_id] %>" >
        <input type="hidden" name="company_id" value="<%= params[:company_id] %>" >
      <% end %>
      <p>
        <label for="service_filter">По услуге : </label>
        <%= collection_select(:filter, :service, Service.all, :id, :name, {include_blank: 'Все'}, promp: true, class: 'service_filter_select filter_select') %>
      </p>
      <p>
        <label for="user_filter">По сотруднику : </label>
        <%= collection_select(:filter, :user, User.where(role_id: Role.find_by_title("OPERATOR").id), :id, :fullname, {include_blank: 'Все'}, promp: true, class: 'user_filter_select filter_select') %>
      </p>
      <p>
        <label for="date_filter">По дате : </label>
        <span class="filter__checkbox-row">
          <%= radio_button_tag("filter[date]", "1-6 month") %>
          <%= label_tag "filter_date_1-6_month", 'I полугодие', class: "checkbox__label-date filter__checkbox-label" %>
        </span>
        <span class="filter__checkbox-row">
          <%= radio_button_tag("filter[date]", "6-12 month") %>
          <%= label_tag "filter_date_6-12_month", 'II полугодие', class: "checkbox__label-date filter__checkbox-label" %>
        </span>
        <span class="filter__checkbox-row">
          <%= radio_button_tag("filter[date]", "12 month") %>
          <%= label_tag "filter_date_12_month", 'Текущий год', class: "checkbox__label-date filter__checkbox-label" %>
        </span>
        <span class="filter__checkbox-row">
          <%= radio_button_tag("filter[date]", "period") %>
          <%= label_tag "filter_date_period", 'Период', class: "checkbox__label-date filter__checkbox-label" %>
        </span>
        <span class="filter__checkbox-row filter__datepicker-row">
          <input name="filter[period]" class="datepicker-here filter__input-period" data-range="true" data-multiple-dates-separator=" - " data-clear-button="true" data-auto-close="true" data-position="top left">
        </span>
      </p>
      <%= submit_tag 'Применить', class: "filter__button filter__btn-submit" %>
      <%= submit_tag 'Сбросить', type: :reset, class: "filter__button filter__btn-cancel" %>
    <% end %>
  </div>
</div>
