<% if params[:action] == 'index' %>
  <h2>Список взаимодействий с компаниями</h2>
  <p>
    <%= link_to "Новое взаимодействие", new_interaction_path %>
  </p>
<% else %>
  <h2>Список взаимодействий с компаний : <%= @company.name %></h2>
<% end %>
<p>
  Всего взаимодействий : <span class="interaction__count"><%= @interactions_count %></span>
</p>
 <div class="page__inner">
  <div class="main__section">
    <%= render 'sidebar' %>
    <div class="interaction_list__block">
      <%= render 'table' %>
    </div>
  </div>
</div>
