<div class="page__inner">
  <div class="card-info__block">
    <p class="back-link__block">
      <%= link_to "Назад", :back, class: 'back-link' %>
    </p>
    <h2 class="card__title">Просмотр взаимодействия</h2>
    <div class="card__row">
      <%= label :category_id, 'Категория членов :', class: 'card__label'%>
      <%= @interaction.category.title unless @interaction.category_id.blank?%>
    </div>
    <div class="card__row">
      <label for="interaction_city" class="card__label">Компания : </label>
      <% if @interaction.company.nil? && @interaction.committee.nil? %>
        Все компании
      <% elsif @interaction.company.nil? && @interaction.committee.present? %>
        Члены комитета
      <% else %>
        <%= @interaction.company.name %>
      <% end %>
    </div>
    <div class="card__row">
      <label for="interaction_address" class="card__label">Комитет : </label>
      <%= @interaction.committee.title unless @interaction.committee_id.blank? %>
    </div>
    <div class="card__row">
      <label for="interaction_representative_name" class="card__label">ФИО представителя : </label>
      <%= @interaction.representative.fullname if @interaction.representative_id.present? %>
    </div>
    <div class="card__row">
      <label for="interaction_service" class="card__label">Вид услуги : </label>
      <%= @interaction.service.name %>
    </div>
    <div class="card__row">
      <label for="interaction_user" class="card__label">Ответственный сотрудник : </label>
      <%= @interaction.user.fullname %>
    </div>
    <div class="card__row">
      <label for="interaction_date" class="card__label">Дата взаимодействия : </label>
      <%= @interaction.start_date&.strftime("%d.%m.%Y") %> - <%= @interaction.end_date&.strftime("%d.%m.%Y") %>
    </div>
    <div class="card__row">
      <label for="interaction_notes" class="card__label">Примечание : </label>
      <%= @interaction.notes %>
    </div>
    <div class="card__row card__row-action">
      <%= link_to "Редактировать", edit_interaction_path(@interaction) %>
    </div>
  </div>
</div>
