<div class="form__wrapper">
  <%= form_for @representative, class: 'representative__form', remote: true do |f| %>
    <div class="form__row">
      <div class="form-item">
        <%= f.label :firstname, 'Имя :', class: 'form__label form__mandatory-field'%>
        <%= f.text_field :firstname, class: 'form__input form__input-error-prone'%>
      </div>
      <div class="form-item__errors form-item__firstname">
        <div class="form-errors">
          <span></span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <%= f.label :middlename, 'Отчество :', class: 'form__label' %>
      <%= f.text_field :middlename, class: 'form__input' %>
    </div>
    <div class="form__row">
      <div class="form-item">
        <%= f.label :lastname, 'Фамилия :', class: 'form__label form__mandatory-field' %>
        <%= f.text_field :lastname, class: 'form__input form__input-error-prone' %>
      </div>
      <div class="form-item__errors form-item__lastname">
        <div class="form-errors">
          <span></span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <div class="form-item">
        <%= f.label :company_id, 'Компания :', class: 'form__label form__mandatory-field' %>
        <%= collection_select(:representative,:company_id, Company.all, :id, :name, {promp: true}, { class: 'form__input form__input-collection form__input-error-prone' } ) %>
      </div>
      <div class="form-item__errors form-item__company_id">
        <div class="form-errors">
          <span></span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <div class="form-item">
        <%= f.label :job_position_id, 'Должность :', class: 'form__label form__mandatory-field' %>
        <%= collection_select(:representative,:job_position_id, JobPosition.all, :id, :title, {promp: true}, { class: 'form__input form__input-collection form__input-error-prone' } ) %>
      </div>
      <div class="form-item__errors form-item__job_position_id">
        <div class="form-errors">
          <span></span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <%= f.label 'Член коммитета : ',class: 'form__label' %>
      <%= f.fields_for :committee_representatives[0] do |com_rep| %>
        <%= collection_select(:committee_representatives, :committee_ids, Committee.all, :id, :title, {  selected: @committee_ids, include_blank: true }, { multiple: true, class: 'form__input form__input-collection' } ) %>
      <% end %>
    </div>
    <div class="form__row">
      <label for="representative_work_phone" class="form__label">Рабочий телефон : </label> <%= f.text_field :work_phone, {type: 'tel', class: 'form__input'} %>
    </div>
    <div class="form__row">
      <label for="representative_mobile_phone" class="form__label">Мобильный телефон : </label> <%= f.text_field :mobile_phone , { type: 'tel', class: 'form__input' } %>
    </div>
    <div class="form__row">
      <label for="representative_email" class="form__label">Email:</label> <%= f.text_field :email, { type: 'email', class: 'form__input' } %>
    </div>
    <div class="form__row">
      <%= f.label :birthdate, 'День рождения :', class: 'form__label' %> <%= f.text_field :birthdate, {type: 'date', class: 'form__input'} %>
    </div>
    <div class="form__row">
      <%= f.label :preferences, 'Предпочтения :', class: 'form__label'%> <%= f.text_field :preferences, class: 'form__input' %>
    </div>
    <div class="form__row">
      <label for="company_notes" class="form__label">Примечание:</label>
      <%= f.text_area :notes, class: 'form__textarea' %>
    </div>
    <div class="form__row">
      <i class="warning-info">* - обязательные к заполнению поля </i>
    </div>
    <div class="form__row">
      <%= f.submit "Создать", class: 'button form__button' %>
    </div>
  <% end %>
</div>
