<div class="sidebar__section">
  <div class="sidebar__filter">
    <h3 class="filter__title">Филтровать</h3>
    <%= form_tag filter_representatives_path, id: "representative_filter_form", method: :post, remote: true do %>
      <p>
        <label for="company_filter">По компании : </label>
        <%= collection_select(:filter, :company, Company.all, :id, :name, {include_blank: 'Все'}, promp: true, class: 'company_filter_select filter_select') %>
      </p>
      <p>
        <label for="job_filter">По должности : </label>
        <%= collection_select(:filter, :job, JobPosition.all, :id, :title, {include_blank: 'Все'}, promp: true, class: 'job_filter_select', style: 'width: 160px;') %>
      </p>
      <h3 class="filter__title">Поиск</h3>

      <p>
        <input type="text" name="filter[search]" class="search" style="width: 160px;">
      </p>
      <%= submit_tag 'Применить', class: "filter__button filter__btn-submit" %>
      <%= submit_tag 'Сбросить', type: :reset, class: "filter__button filter__btn-cancel" %>
    <% end %>
  </div>
</div>
