<h1>Список всех представителей</h1>
<p>
  <%= link_to "Добавить представителя", new_representative_path %>
</p>
<div class="page__inner">
  <div class="main__section">
    <%= render 'sidebar' %>
    <div class="list__block">
      <div class="table__wrapper">
        <table class="representative__table">
          <tr class="table__row-header">
            <th>ФИО</th>
            <th>Компания</th>
            <th>Должность</th>
            <th>Телефон</th>
          </tr>
          <% for representative in @representatives %>
          <tr class="table__item-row" data-link="<%= representative_path(representative.id) %>">
            <td class="table__item"><%= representative.fullname %></td>
            <td class="table__item"><%= representative.company.name %></td>
            <td class="table__item"><%= representative.job_position.title %></td>
            <td class="table__item"><%= representative.mobile_phone %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="digg_pagination pagination__block">
        <%= will_paginate @representatives %>
      </div>
    </div>
  </div>  
</div>  
