<tr class="table__item-row" data-link="<%= company_path(company.id) %>" data-turbolinks="false">
  <td class="table__item"><%= company.name %></td>
  <td class="table__item"><%= company.category.title %></td>
  <td class="table__item"><%= company.executives.first.representative.fullname %></td>
  <td class="table__item"><%= company.created_at %></td>
</tr>