<tr class="table__item-row" data-link="<%= company_path(company.id) %>" data-turbolinks="false">
  <td class="table__item"><%= company.name %></td>
  <td class="table__item"><%= company.category.title %></td>
  <td class="table__item"><%= company.executives.first.representative.fullname %></td>
  <td class="table__item"><%= company.status == 'active' ? company.entry_date : company.exit_date %></td>
  <td class="table__item table__text-center"><%= image_tag("icons/icon_lamp_#{company.status}.png", size: '24x24') %></td>
</tr>
