<div class="form__wrapper">
  <%= form_for @company, class: 'company-form', remote: true do |f| %>
    <div class="form__row">
      <div class="form-item">
        <%= f.label :category_id, 'Категория членов :', class: 'form__label'%>
        <%= collection_select(:company, :category_id, Category.all, :id, :title, { promp: true }, { class: 'form__input form__input-collection' }) %>
      </div>
      <div class="form-item__errors form-item__category">
        <div class="form-errors">
          <span></span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <div class="form-item">
        <%= f.label :name, "Название :", class: 'form__label form__mandatory-field'%>
        <%= f.text_field :name, class: 'form__input form__input-error-prone' %>
      </div>
      <div class="form-item__errors form-item__name">
        <div class="form-errors">
          <span></span>
        </div>
      </div>
    </div>
    <div class="form__row">
      <label for="company_city" class="form__label">Город : </label>
      <%= collection_select(:company, :city_id, City.all, :id, :name, {promp: true }, { class: 'form__input form__input-collection' }) %>
    </div>
    <div class="form__row">
      <label for="company_address" class="form__label">Адрес : </label>
      <%= f.text_field :address, class: 'form__input'%>
    </div>
    <div class="form__row">
      <%= f.label "Данные руководителя: ", class: 'form__label'%>
    </div>
    <%= render partial: '/companies/nested_representative_form', locals: { f: f }%>
    <div class="form__row">
      <label for="company_work_phone" class="form__label">Рабочий телефон :</label>
      <%= f.text_field :work_phone, { type: 'tel', class: 'form__input' } %>
    </div>
    <div class="form__row">
      <label for="company_mobile_phone" class="form__label">Мобильный телефон :</label>
      <%= f.text_field :mobile_phone , { type: 'tel', class: 'form__input' } %>
    </div>
    <div class="form__row">
      <label for="company_email" class="form__label">Email:</label>
      <%= f.text_field :email, {type: 'email', class: 'form__input' } %>
    </div>
    <div class="form__row">
      <label for="company_industry" class="form__label">Сфера деятельности : </label>
      <%= collection_select(:company, :industry_id, Industry.all, :id, :title, { promp: true }, { class: 'form__input form__input-collection' }) %>
    </div>
    <div class="form__row">
      <%= f.label :birthdate, 'День рождения компании :', class: 'form__label'%>
      <%= f.text_field :birthdate, { type: 'date', class: 'form__input' } %>
    </div>
    <div class="form__row">
      <label for="status" class="form__label">Статус компании :</label>
      <span class="form__radio-group">
        <%= radio_button('company', 'status', 'active', { class: 'company__status' }) %> <label for="company_status_active">Активна</label>
        <%= radio_button('company', 'status', 'inactive', { class: 'company__status' }) %> <label for="company_status_inactive">Неактивна</label>
      </span>
    </div>
    <div class="form__row">
      <div class="form-item">
        <%= f.label :entry_date, "Дата вступления :", class: 'form__label form__mandatory-field' %>
        <%= f.text_field :entry_date, { type: 'date', class: 'form__input form__input-error-prone' } %>
      </div>
      <div class="form-item__errors form-item__entry_date">
        <div class="form-errors">
          <span></span>
        </div>
      </div>
    </div>
     <div class="form__row">
      <%= f.label :exit_date, "Дата выбытия :", class: 'form__label' %>
      <%= f.text_field :exit_date, { type: 'date', class: 'form__input' } %>
    </div>
    <div class="form__row">
      <%= f.label :exit_reason, "Причина выбытия :", class: 'form__label' %>
      <%= f.text_field :exit_reason, { type: 'text', class: 'form__input' } %>
    </div>
    <div class="form__row form__notes-block">
      <label for="company_notes" class="form__label">Примечание:</label>
      <%= f.text_area :notes, class: 'form__textarea' %>
    </div>
    <div class="form__row">
      <i class="warning-info">* - обязательные к заполнению поля </i>
    </div>
    <div class="form__row">
      <%= f.submit "Создать", class: 'button form__button' %>
    </div>
  <% end %>
</div>
