<div class="sidebar__section">
  <div class="sidebar__filter">
    <h3 class="filter__title">Филтровать</h3>
    <%= form_tag company_filters_path, method: :post, remote: true do %>
      <p>
        <label for="category_filter">По категории : </label>
        <%= collection_select(:filter, :category, Category.all, :id, :title, {include_blank: 'Все'}, promp: true, class: 'category_filter_select') %>
      </p>
      <p>
        <label for="color_filter">По цвету: </label>
        <% CompaniesHelper::COMPANY_COLORS.each do |color| %>
        <span class="filter__checkbox-row">
          <%= check_box("filter", "colors", {:multiple => true}, color.downcase, nil) %>
          <%= label_tag "filter_colors_#{color.downcase}", color, class: "checkbox__label-#{color.downcase} filter__checkbox-label" %>
        </span>  
        <% end %>
      </p>
      <p>
        <label for="date_filter">По дате : </label>
        <span class="filter__checkbox-row">
          <%= radio_button_tag("filter[date]", "1-6 month") %>
          <%= label_tag "filter_date_1-6_month", 'I полугодие', class: "checkbox__label-date filter__checkbox-label" %>
        </span>  
        <span class="filter__checkbox-row">
          <%= radio_button_tag("filter[date]", "6-12 month") %>
          <%= label_tag "filter_date_6-12_month", 'II полугодие', class: "checkbox__label-date filter__checkbox-label" %>
        </span>
        <span class="filter__checkbox-row">
          <%= radio_button_tag("filter[date]", "12 month") %>
          <%= label_tag "filter_date_12_month", 'Текущий год', class: "checkbox__label-date filter__checkbox-label" %>
        </span>
        <span class="filter__checkbox-row">
          <%= radio_button_tag("filter[date]", "period") %>
          <%= label_tag "filter_date_period", 'Период', class: "checkbox__label-date filter__checkbox-label" %>
        </span>
        <span class="filter__checkbox-row">
          <input name="filter[period]" class="datepicker-here" data-range="true"
            data-multiple-dates-separator=" - " data-clear-button="true" data-auto-close="true" >
        </span>   
      </p>
      <%= submit_tag 'Применить', class: "filter__button" %>
    <% end %>  
  </div>
  <div class="sidebar__legend">
    <h3 class="filter__title">Легенда</h3>
    <div class="legend__row">
      <h4 class="legend__title"><span class="legend__result-red"></span>Результат взаимодействия менее 1</h4>
    </div>
    <div class="legend__row">  
      <h4 class="legend__title"><span class="legend__result-yellow"></span>Результат взаимодействия от 1 до 4 </h4>
    </div>
    <div class="legend__row">  
      <h4 class="legend__title"><span class="legend__result-green"></span>Результат взаимодействия более 4</h4>
    </div>
  </div>
</div>