<h2>Список компаний</h2>
<p>
  Всего компаний : <%= @active_companies.size %> из них :
  <span>корпоративных членов : <%= @corporate_members %>, </span>
  <span>ассоциативных членов : <%= @associates_members %>, </span>
  <span>почетных членов : <%= @honarable_members %></span>
</p>
<div class="page__inner">
  <div class="main__section">
    <%= render 'sidebar' %>
    <div class="company-list__section">
      <div class="table__wrapper">
        <%= render partial: 'table' %>
      </div>
       <div class="digg_pagination pagination__block">
        <%= will_paginate @active_companies %>
      </div>
    </div>
  </div>
</div>
