<div class="section_title-block">
  <h2 class="main__title">Список компаний</h2>
  <span class="section__link-add"><%= link_to "Добавить компанию", new_company_path %></span>
</div>
<div class="count__indicator">
  Всего активных компаний : <%= @active_companies %> из них :
  <span>корпоративных членов : <%= @corporate_members %>, </span>
  <span>ассоциативных членов : <%= @associates_members %>, </span>
  <span>почетных членов : <%= @honarable_members %></span>
</div>
<div class="count__indicator">
  Всего выбывших компаний : <%= @inactive_companies %>
</div>
<div class="page__inner">
  <div class="main__section">
    <%= render 'sidebar' %>
    <div class="company-list__section list__section">
      <%= render partial: 'table' %>
    </div>
  </div>
</div>
