<div class="page__inner">
  <div class="card-info__block">
    <p class="back-link__block">
      <%= link_to "Назад", companies_path %>
    </p>  
    <h2 class="card__title">Карточка компании 
      <span class="card__subtitle">"<%= @company.name %>"</span>
    </h2>
    <div class="card__row">
      <%= label :category_id, 'Категория членов :', class: 'card__label'%> 
      <%= Category.find(@company.category_id).title %>
    </div>
    <div class="card__row">
      <label for="company_city" class="card__label">Город : </label>
      <%= City.find(@company.city_id).name %>
    </div>
    <div class="card__row">
      <label for="company_address" class="card__label">Адрес : </label> <%= @company.address %>
    </div>

    <div class="card__row">
      <label for="company_executive_name" class="card__label"> ФИО руководителя : </label>
        <%= @representative.fullname %>
    </div>    
    <div class="card__row">
        <label for="company_director" class="card__label"> Должность руководителя : </label>
        <%= JobPosition.find(@representative.job_position_id).title %>
    </div>
    <div class="card__row">
      <label for="company_work_phone" class="card__label">Рабочий телефон : </label> 
      <%= @company.work_phone %>
    </div>
    <div class="card__row">
      <label for="company_mobile_phone" class="card__label">Мобильный телефон : </label> 
      <%= @company.mobile_phone %>
    </div>
    <div class="card__row">
      <label for="company_email" class="card__label">Email : </label> 
      <%= @company.email %>
    </div>
    <div class="card__row">
      <label for="company_industry" class="card__label">Сфера деятельности : </label>
      <%= Industry.find(@company.industry_id).title %>
    </div>
    <div class="card__row">
      <%= label :birthdate, 'День рождения компании :', class: 'card__label' %> <%= @company.birthdate %>
    </div>
    <div class="card__row">
      <label for="company_notes" class="card__label">Примечание : </label> <%= @company.notes %>
    </div>
    <div class="card__row card__row-action">
      <%= link_to "Редактировать", edit_company_path(@company) %> |
      <%= link_to "Удалить", company_path(@company), :confirm => "Are you sure?", :method => :delete %>
    </div>
  </div>
</div>  

