<header>
  <div class="logo"><%= link_to image_tag('logo_ru.png', height: '55'), root_path %></div>
  <div class="navbar">
    <ul class="menu">
      <li class='menu__item'><%= link_to 'Главная', root_path, class: 'menu__item-link', data: { 'turbolinks': 'false' } %></li>
      <% if user_signed_in? %>
        <li class='menu__item'><%= link_to 'Компании', companies_path, class: 'menu__item-link' %></li>
        <li class='menu__item'><%= link_to 'Взаимодействия', interactions_path, class: 'menu__item-link', data: { 'turbolinks': 'false' } %></li>
      <% end %>
      <li class='menu__item'><%= link_to 'Представители', representatives_path, class: 'menu__item-link' %></li>
      <% if user_signed_in? %>
        <li class='menu__item'><%= link_to 'Выход', destroy_user_session_path, method: :delete, class: 'menu__item-link' %></li>
      <% else %>
        <li class='menu__item'><%= link_to 'Вход', new_user_session_path, class: 'menu__item-link' %></li>
      <% end %>
    </ul>
  </div>
</header>
